# MongoDB Atlas Connection
# Sign up at https://cloud.mongodb.com and create a cluster
#
# Steps:
# 1. Create a free cluster at MongoDB Atlas
# 2. Create a database user with password
# 3. Whitelist your IP (or 0.0.0.0/0 for all)
# 4. Get the connection string from "Connect" > "Connect your application"
# 5. Replace <password> with your database user's password

MONGODB_URL=mongodb+srv://<username>:<password>@cluster0.xxxxx.mongodb.net/?appName=Cluster0
